In [1]:
# Import dependencies
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
# Set up splinter and open website to scrape
browser = Browser('chrome')
url = 'https://redplanetscience.com'
browser.visit(url)

In [5]:
# Set up soup to parse html
html = browser.html
soup = bs(html,'html.parser')

In [12]:
# Search for first (latest) article title and description paragraph
title = soup.find('div',class_='content_title').text
para = soup.find('div',class_='article_teaser_body').text

In [20]:
# Print results
print(f"News Title: {title}")
print(f"News Paragraph: {para}")

News Title: Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
News Paragraph: NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [92]:
# Exit first instance of browser
browser.quit()

In [93]:
# Set up splinter with second website to scrape
browser = Browser('chrome')
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [94]:
# Set up soup to parse html
html = browser.html
soup = bs(html,'html.parser')

In [95]:
# Have splinter click the "FULL IMAGE" button
browser.links.find_by_partial_text('FULL IMAGE').click()

In [96]:
# Set up soup to parse html again after the HTML has changed
html = browser.html
soup = bs(html,'html.parser')

In [108]:
# Search for first (latest) article title and description paragraph
featured_image_url = url + soup.find('img',class_='fancybox-image')['src']
print(f"Featured Image URL: {featured_image_url}")

Featured Image URL: https://spaceimages-mars.comimage/featured/mars3.jpg

In [109]:
# Exit second instance of browser
browser.quit()

In [110]:
# Set up splinter with second website to scrape
browser = Browser('chrome')
url = 'https://galaxyfacts-mars.com'
browser.visit(url)

In [111]:
# Set up soup to parse html
html = browser.html
soup = bs(html,'html.parser')

In [121]:
fact_table = soup.find('table',class_='table table-striped')
fact_table_df = pd.read_html(str(fact_table))[0]
fact_table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [122]:
fact_table_df.columns = ['Attribute', 'Value']
fact_table_df.set_index('Attribute', inplace=True)
fact_table_df

                                              Value
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [125]:
fact_table_html = fact_table_df.to_html()
print(fact_table_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Attribute</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>